.linux-day-logo-container {
  text-align: center;
}

.linux-day-logo-container img {
  width: 100%;
  max-width: 500px;
}

.logos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

.logo-item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}

.logo-item img {
  width: auto;
  max-height: 7rem;
}

@media only screen and (min-width: 600px) {
  .logo-item {
    flex-basis: 35%;
  }
}

@media only screen and (min-width: 992px) {
  .logo-item {
    flex-basis: auto;
  }

  .logos-container {
    gap: 20px;
  }
}
