@font-face {
    font-family: 'Press Start 2P';
    src: url('../fonts/PressStart2P-Regular.woff2') format('woff2'),
        url('../fonts/PressStart2P-Regular.woff') format('woff'),
        url('../fonts/PressStart2P-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

a {
  color: #0065b3;
}

body {
  background-color: #f2f2f2;
}

footer {
  text-align: center;
  margin: 2rem 1rem;
}

header {
  text-align: center;
  margin: 2rem 1rem;
}

main {
  width: 95%;
  margin: auto;
}

section {
  margin-bottom: 2rem;
}

.balloon-icon {
  min-width: 60px;
  max-width: 60px;
  padding: 0 10px 0 0;
}

.balloon-icon img {
  width: 100%;
}

.message-left {
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;
}

.news-container {
  border-color: rgb(146, 204, 65);
}

.nes-container.with-title > .title {
  background-color: #f2f2f2;
}

.logos-container {
  display: flex;
  gap: 20px;
}

.logo-item img {
  width: 100%;
  max-height: 7rem;
}

@media only screen and (min-width: 768px) {
  main {
    width: 80%;
  }

  .balloon-icon {
    min-width: 30px;
    padding: 50px 10px 0 0;
  }

  .message-left {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
  }
}

@media only screen and (min-width: 1200px) {
  main {
    width: 60%;
  }
}
